:root {
  --text-color: #1a1c20;
  --link-color: #4a76ee;
  --background-color: #eeeff1;
  --h1: 28px;
  --p: 15px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
}
a {
  color: var(--link-color);
  text-decoration: none;
}

.cotainerasa {
  background-color: black;
}

/* Navbar style */
nav {
  padding: 0 50px;
  height: 80px;
}
nav .leftNav a {
  color: var(--text-color);
  margin: 0 10px;
  font-weight: 600;
}
nav .rightNav a {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 600;
  margin: 0 10px;
}
nav .rightNav a:last-child {
  color: var(--background-color);
  background-color: var(--text-color);
  padding: 10px 15px;
  border-radius: 5px;
}
nav .rightNav a span {
  margin-left: 2px;
}

/* Body style */
.tet {
  max-width: 1280px;
  background-color: black;
}

/* Section One */
#hero-section {
  margin: 100px 0;
}
.heroSection {
  padding: 0 20px 0 50px;
}
.introductionText h1 {
  margin: 15px 0;
}
.introductionText a {
  display: inline-block;
  margin: 10px 3px;
  padding: 5px 10px;
  border: 2px solid var(--link-color);
  border-radius: 5px;
  transition: 0.1s;
}
.introductionText a:hover {
  color: var(--text-color);
  border: 2px solid var(--text-color);
}
.heroSectionLeft {
  margin: 50px 50px;
  display: flex;
  justify-content: flex-end;
}
.heroSectionLeft img {
  max-width: 100%;
  width: 450px; /* batas maksimum */
  height: auto;
  margin-right: 0;
  border-radius: 50%;
}

/* Section Two */
#about-me {
  margin: 200px 0;
}
.rightAbout {
  margin: 30px 50px 30px 0px;
}
.rightAbout a {
  display: inline-block;
}
.rightAbout h2 {
  padding: 0 15px;
}
.leftAbout p {
  margin: 15px 0;
}
.leftAbout {
  padding: 0 60px 0 0;
  margin: 30px 20px 30px 50px;
}
.links {
  margin: 13px 0;
}
.links a {
  margin: 0 10px;
  padding: 0 3px;
}

/* Section Three */
#skills-section {
  margin: 180px 0;
}
.textSkills {
  margin: 50px 50px 10px 50px;
}
.textSkills p {
  margin: 15px 0;
}
.sklillIcons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.sklillIcons .skill {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 45px;
  padding: 0px 20px;
  margin: 10px;
  border: 1.5px solid #d3d3d3;
  border-radius: 5px;
}
.sklillIcons img {
  margin: 5px;
  width: 30px;
  height: 30px;
}

/* Section Four */
#project-section {
  margin: 200px 0;
}
.projectText p {
  margin: 15px 0;
}
.projectContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cardProject {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 15px;
  max-width: 300px;
  box-sizing: border-box;
}
.cardProject img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.cardProject .text {
  padding: 15px;
  text-align: center;
}

/* Section Five */
#section-resume {
  margin: 200px 0;
}
.containerExperience {
  background: #ffffff;
  border: 1.5px solid #e5e5e5;
  border-radius: 8px;
  padding: 18px 22px;
  margin: 30px 10px 20px 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
}
.containerExperience2 {
  background: #ffffff;
  border: 1.5px solid #e5e5e5;
  border-radius: 8px;
  padding: 18px 22px;
  margin: 30px 50px 30px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
}
.experience-card {
  padding: 10px 0 10px 20px;
  border-left: 0.5px solid var(--text-color);
}
.experience-card2 {
  padding: 10px 0 10px 20px;
  border-left: 0.5px solid var(--text-color);
}

.experience-card h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color);
}

.experience-card h5 {
  margin: 5px 0 8px;
  font-size: 15px;
  color: #444;
  font-weight: 500;
}

.experience-card .date {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.experience-card p {
  color: #555;
  font-size: 14px;
  line-height: 1.5;
}
.experience-card2 h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color);
}

.experience-card2 h5 {
  margin: 5px 0 8px;
  font-size: 15px;
  color: #444;
  font-weight: 500;
}

.experience-card2 .date {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.experience-card2 p {
  color: #555;
  font-size: 14px;
  line-height: 1.5;
}

/* Secotion Six */
.footerText {
  padding: 30px 200px;
  color: var(--background-color);
  background-color: var(--text-color);
}

@media (max-width: 600px) {
  /* navbar Responsif */
  .leftNav a {
    font-size: 15px;
  }
  .rightNav a span {
    font-size: 15px;
    padding: 2px;
  }

  /* Hero Responsif */
  .heroSection h1 {
    padding: 0;
    margin: 3px 0 3px 0;
    font-size: var(--h1);
  }
  .heroSection p {
    padding-top: 15px;
    font-size: var(--p);
  }
}

/* Body reponsif */
@media (max-width: 990px) {
  .heroSection {
    margin: 10px 0px 0px 0px;
    padding: 0 20px 0 50px;
  }
  .heroSectionLeft {
    margin: 50px 50px 10px 50px;
    display: flex;
    justify-content: center;
  }
  .textCol {
    order: 2 !important;
  }

  .imgCol {
    order: 1 !important;
  }
}
